body {
    height: 100%;
    background-color: #f2f2f2;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #b1adad;
    height: 50vh;
    display: flex;
    align-items: center;
}

#slider-box {
    margin: 0 2vw;
    padding: 0 2vw;
}

#sorted-scores {
    width: 50vw;
    height: 50vh;
}

#sorted-scores .main-svg {
    border-radius: 10px;
}

.sliders {
    text-align: center;
}

/* Hide control bar */
.modebar {
    display: none !important;
}
